@import "src/assets/css/colors";

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background: $primary;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 10px;
}

.text {
  color: $white;
  font-weight: bold;
  font-size: 50px;
}
