<div class="content">

	<div class="flex-column">
		<div class="d-flex">
			<span class="value text" maxValue="12">0</span>
			<span class="align-self-center text">M+</span>
		</div>
		<span class="text-center text-white">Downloads</span>
	</div>

	<div class="flex-column">
		<div class="d-flex">
			<span class="value text" maxValue="18">0</span>
			<span class="align-self-center text">M+</span>
		</div>
		<span class="text-center text-white">Active Users</span>
	</div>

	<div class="flex-column">
		<div class="d-flex">
			<span class="value text" maxValue="5">0</span>
		</div>
		<span class="text-center text-white">Ratings</span>
	</div>

	<div class="flex-column">
		<div class="d-flex">
			<span class="value text" maxValue="300">0</span>
			<span class="align-self-center text">M+</span>
		</div>
		<span class="text-center text-white">Happy Clients</span>
	</div>
</div>
