	<app-waves>
		<div>
			<h1>Download Our App and Enjoy!</h1>
			<h3>Contrary to popular belief, Lorem Ipsum is not simply randa text. has
			    roots in a piece of classical Latin literature from BC, making it over
			    2000 years old. Richard McClintock.
			</h3>
			<div class="btn-group">
				<button class="btn btn-danger" role="button">Download Now</button>
				<button class="btn btn-outline-danger" role="button">Watch Video</button>
			</div>
		</div>
		<img src="assets/1.png" alt="app">
	</app-waves>
