<app-waves>
	<div>
		<h1 class="my-3">Download Our App and Enjoy!</h1>
		<h2 class="my-3">
			Contrary to popular belief, Lorem Ipsum is not simply randa text. has roots in a piece of classical Latin
			literature from BC, making it over 2000 years old. Richard McClintock.
		</h2>
		<div class="btn-group my-3">
			<button class="btn mx-2" role="button">Download Now</button>
			<button class="btn-no-border d-flex align-items-center" role="button">
				<span class="material-icons">play_arrow</span>
				Watch Video
			</button>
		</div>
	</div>
	<img src="../assets/images/1.png" alt="app" class="image1">
</app-waves>

<div class="d-flex justify-content-evenly margin-t-20px margin-b-70px">
	<app-feature-box icon="architecture"
	                 title="Awesome Design"
	                 description="Awesome Design Lorem ipsum dolor sit amet into consectetur adipiscing elit, sed do eiusmod tempor incid."
	                 iconColor="#ff7588"
	                 iconBgColor="#fff4f5"></app-feature-box>

	<app-feature-box icon="edit"
	                 title="Easy to Edit"
	                 description="Awesome Design Lorem ipsum dolor sit amet into consectetur adipiscing elit, sed do eiusmod tempor incid."
	                 iconColor="#7a65ff"
	                 iconBgColor="#f5f4ff"></app-feature-box>

	<app-feature-box icon="shield"
	                 title="Fully Secured"
	                 description="Awesome Design Lorem ipsum dolor sit amet into consectetur adipiscing elit, sed do eiusmod tempor incid."
	                 iconColor="#ffaa8f"
	                 iconBgColor="#fff6f3"></app-feature-box>
</div>

<div class="d-flex justify-content-evenly align-items-center my-5 padding-lr-100px">
	<img src="assets/images/2.png" alt="app" class="image2">
	<div class="flex-column margin-left-60px">
		<h1 class="section-title">We Designed Perfect App for You</h1>
		<h2 class="section-description">
			In consequat, quam id sodales hendrerit, eros mi molestie leo an lacinia risus neque tristique augue. Proin
			tempus urna vel congue elementum. Vestibulum euismod accumsan.
		</h2>
		<ul>
			<li class="list-item">Lorem ipsum dolor sit amet into consectetur adipiscing elit</li>
			<li class="list-item">Lorem ipsum dolor sit amet into consectetur adipiscing elit</li>
			<li class="list-item">Lorem ipsum dolor sit amet into consectetur adipiscing elit</li>
		</ul>

		<button class="btn" role="button">Learn More</button>
	</div>
</div>

<div class="d-flex justify-content-evenly my-5">
	<div class="flex-column">
		<h1 class="section-title">Our App Features</h1>

		<h2 class="section-description margin-tb-30px text-light-grey">
			Cras accumsan pretium dignissim. Curabitur a orci lorem. Phasellus tempor dolor vel odio efficitur ac
			sollicitudin.
		</h2>

		<app-feature-list icon="notifications"
		                  iconBgColor="#fff4f5"
		                  iconColor="#ff7588"
		                  title="Instant Notifications"
		                  description="Duis vestibulum elit vel neque pharetra vulputate. Quisque Proin scelerisque nisi urna. Duis rutrum non risus in imperdiet.">
		</app-feature-list>

		<app-feature-list icon="person"
		                  iconBgColor="#f5f4ff"
		                  iconColor="#9281ff"
		                  title="User Friendly"
		                  description="Duis vestibulum elit vel neque pharetra vulputate. Quisque Proin scelerisque nisi urna. Duis rutrum non risus in imperdiet.">
		</app-feature-list>

		<app-feature-list icon="thumb_up"
		                  iconBgColor="#fff6f3"
		                  iconColor="#ff8c68"
		                  title="Secure & Reliable"
		                  description="Duis vestibulum elit vel neque pharetra vulputate. Quisque Proin scelerisque nisi urna. Duis rutrum non risus in imperdiet.">
		</app-feature-list>
	</div>

	<img src="assets/images/3.png" alt="app" class="image3">
</div>

<app-wave>
	<div class="d-flex justify-content-evenly align-items-center padding-lr-100px">
		<img src="assets/images/4.png" alt="app" class="image4">
		<div class="flex-column text-white margin-l-20px">
			<h1>Get Your App for Next Way.</h1>
			<p>In consequat, quam id sodales hendrerit, eros mi molestie leo an lacinia risus neque tristique augue.
			   Proin tempus urna vel congue elementum. Vestibulum euismod accumsan.
			</p>
			<button class="btn">Learn More</button>
		</div>
	</div>
</app-wave>

<div class="d-flex justify-content-evenly align-items-center padding-lr-100px margin-b-50px">
	<div class="flex-column">
		<h1 class="section-title">Have any Questions?</h1>
		<h2 class="section-description">
			Cras accumsan pretium dignissim. Curabitur a orci lorem. Phasellus tempor dolor vel odio efficitur ac
			sollicitudin.
		</h2>
		<div>
			<h2 class="text-sec">How can I install the App?</h2>
			<p>Duis vestibulum elit vel neque pharetra vulputate. Quisque Proin scelerisque nisi urna. Duis rutrum non
			   risus in imperdiet.
			</p>
		</div>

		<div>
			<h2 class="text-sec">What is the Main Features of this App?</h2>
			<p>Duis vestibulum elit vel neque pharetra vulputate. Quisque Proin scelerisque nisi urna. Duis rutrum non
			   risus in imperdiet.
			</p>
		</div>

		<div>
			<h2 class="text-sec">Is there any Video Sessions?</h2>
			<p>Duis vestibulum elit vel neque pharetra vulputate. Quisque Proin scelerisque nisi urna. Duis rutrum non
			   risus in imperdiet.
			</p>
		</div>
	</div>
	<img src="assets/images/5.png" alt="app" class="image5">
</div>

<app-counter></app-counter>

<div class="flex-column align-items-center margin-tb-30px">
	<h1 class="text-dark-grey font-weight-bold my-3">Still Not Lucky?</h1>
	<p class="text-light-grey my-3">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
		standard.
	</p>
	<button class="btn my-3">
		Contact Us
	</button>
</div>

<div class="d-flex justify-content-around align-items-center footer">
	<div class="d-flex text-white">
		<span class="material-icons height-fit-content">
			facebook
		</span>
	</div>
	<span class="text-white">LOGO</span>
	<span class="text-white">2021 Copyrights & Protected</span>
</div>
