<app-waves>
    <div>
        <h1 class="my-3">Download Our App and Enjoy!</h1>
        <h2 class="my-3">
            Contrary to popular belief, Lorem Ipsum is not simply randa text. has roots in a piece of classical Latin
            literature from BC, making it over 2000 years old. Richard McClintock.
        </h2>
        <div class="btn-group my-3">
            <button class="btn mx-2" role="button">Download Now</button>
            <button class="btn-no-border d-flex align-items-center" role="button">
                <span class="material-icons">play_arrow</span>
                Watch Video
            </button>
        </div>
    </div>
    <img src="../assets/images/1.png" alt="app">
</app-waves>

<div class="padding-70px">
    <div class="d-flex justify-content-evenly">
        <app-feature-box icon="architecture"
                         title="Awesome Design"
                         description="Awesome Design Lorem ipsum dolor sit amet into consectetur adipiscing elit, sed do eiusmod tempor incid."
                         iconColor="#ff7588"
                         iconBgColor="#fff4f5"></app-feature-box>

        <app-feature-box icon="edit"
                         title="Easy to Edit"
                         description="Awesome Design Lorem ipsum dolor sit amet into consectetur adipiscing elit, sed do eiusmod tempor incid."
                         iconColor="#7a65ff"
                         iconBgColor="#f5f4ff"></app-feature-box>

        <app-feature-box icon="shield"
                         title="Fully Secured"
                         description="Awesome Design Lorem ipsum dolor sit amet into consectetur adipiscing elit, sed do eiusmod tempor incid."
                         iconColor="#ffaa8f"
                         iconBgColor="#fff6f3"></app-feature-box>
    </div>

    <div class="d-flex justify-content-evenly my-5">
        <img src="assets/images/2.png" alt="app">
        <div class="flex-column margin-left-60px">
            <h1 class="section-title">We Designed Perfect App for You</h1>
            <h2 class="section-description">
                In consequat, quam id sodales hendrerit, eros mi molestie leo an lacinia risus
                neque tristique augue. Proin tempus urna vel congue elementum. Vestibulum
                euismod accumsan.
            </h2>
            <ul>
                <li class="list-item">Lorem ipsum dolor sit amet into consectetur adipiscing elit</li>
                <li class="list-item">Lorem ipsum dolor sit amet into consectetur adipiscing elit</li>
                <li class="list-item">Lorem ipsum dolor sit amet into consectetur adipiscing elit</li>
            </ul>

            <button class="btn" role="button">Learn More</button>
        </div>
    </div>

    <div class="d-flex justify-content-evenly my-5">
        <div class="flex-column">
            <h1 class="section-title">Our App Features</h1>

            <h2 class="section-description margin-tb-30px text-light-grey">
                Cras accumsan pretium dignissim. Curabitur a orci lorem.
                Phasellus tempor dolor vel odio efficitur ac sollicitudin.
            </h2>

            <app-feature-list icon="notifications"
                              iconBgColor="#fff4f5"
                              iconColor="#ff7588"
                              title="Instant Notifications"
                              description="Duis vestibulum elit vel neque pharetra vulputate. Quisque Proin scelerisque nisi urna. Duis rutrum non risus in imperdiet.">
            </app-feature-list>

            <app-feature-list icon="person"
                              iconBgColor="#f5f4ff"
                              iconColor="#9281ff"
                              title="User Friendly"
                              description="Duis vestibulum elit vel neque pharetra vulputate. Quisque Proin scelerisque nisi urna. Duis rutrum non risus in imperdiet.">
            </app-feature-list>

            <app-feature-list icon="thumb_up"
                              iconBgColor="#fff6f3"
                              iconColor="#ff8c68"
                              title="Secure & Reliable"
                              description="Duis vestibulum elit vel neque pharetra vulputate. Quisque Proin scelerisque nisi urna. Duis rutrum non risus in imperdiet.">
            </app-feature-list>
        </div>

        <img src="assets/images/3.png" alt="app">
    </div>
</div>

<app-wave></app-wave>
