@import "src/assets/css/colors";

.box-container {
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 177px 0 rgba(0, 0, 0, 0.05);
  background-color: $white;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  .icon {
	font-size: 4rem;
  }
}

.title {
  font-size: 27px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  color: #666666;
}
