@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/css/colors";

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

.btn {
  background-color: $secondary;
  color: white;
  border-radius: 5px !important;
  width: fit-content;
}

.btn:hover {
  color: $secondary;
  border: 1px solid $secondary;
  background: none;
  border-radius: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padding-70px {
  padding: 70px;
}

.margin-left-60px {
  margin-left: 60px;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-light-grey {
  color: $light-grey;
}

.text-white {
  color: $white;
}

.text-sec {
  color: $secondary;
}

.font-14px {
  font-size: 14px;
}

.font-weight-bold {
  font-weight: bold;
}

.margin-tb-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-t-20px {
  margin-top: 20px;
}

.margin-l-20px {
  margin-top: 20px;
}

.margin-b-70px {
  margin-bottom: 70px;
}

.margin-b-50px {
  margin-bottom: 50px;
}


.height-fit-content {
  height: fit-content;
}

.padding-lr-100px {
  padding-left: 100px;
  padding-right: 100px;
}
